codigoOSB/OSB_Common/Resoucers/SCHEMAS/SenderMail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.globallogic.com.ar/bootcamp/common/EmailRequest" 
			xmlns:tns="http://www.globallogic.com.ar/bootcamp/common/EmailRequest"
			elementFormDefault="qualified" 
			attributeFormDefault="unqualified">

    <xs:element name="MailSenderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="subject" type="xs:string"></xs:element>
				<xs:element name="content" type="xs:string"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
