codigoOSB/Hogar/Resources/WSDL/SeguroHogar.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://bootcamp.globallogic.com.ar/SeguroHogar" xmlns:seguro="http://bootcamp.globallogic.com.ar/SeguroHogar/schema" targetNamespace="http://bootcamp.globallogic.com.ar/SeguroHogar">
	<wsdl:types>
		<xs:schema targetNamespace="http://bootcamp.globallogic.com.ar/SeguroHogar/schema" elementFormDefault="qualified">
			<xs:include schemaLocation="../SCHEMAS/SeguroHogar.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ClienteRequest">
		<wsdl:part name="idCliente" type="xs:long"/>
	</wsdl:message>
	<wsdl:message name="ClienteResponse">
		<wsdl:part name="cliente" element="seguro:Cliente"/>
	</wsdl:message>
	<wsdl:message name="CarteraRequest">
		<wsdl:part name="idCliente" type="xs:long"/>
	</wsdl:message>
	<wsdl:message name="CarteraResponse">
		<wsdl:part name="idCliente" element="seguro:CarteraResponse"/>
	</wsdl:message>
	<wsdl:message name="PolizaHeaderRequest">
		<wsdl:part name="idPoliza" type="xs:long"/>
	</wsdl:message>
	<wsdl:message name="PolizaHeaderResponse">
		<wsdl:part name="polizaHeader" element="seguro:PolizaHeaderResponse"/>
	</wsdl:message>
	<wsdl:portType name="SeguroHogar_portType">
		<wsdl:operation name="getCliente">
			<wsdl:input message="tns:ClienteRequest"/>
			<wsdl:output message="tns:ClienteResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getCartera">
			<wsdl:input message="tns:CarteraRequest"/>
			<wsdl:output message="tns:CarteraResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getPoliza">
			<wsdl:input message="tns:PolizaHeaderRequest"/>
			<wsdl:output message="tns:PolizaHeaderResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SeguroHogar_binding" type="tns:SeguroHogar_portType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getCliente">
			<soap:operation soapAction="urn:getCliente"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCartera">
			<soap:operation soapAction="urn:getCartera"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPoliza">
			<soap:operation soapAction="urn:getPoliza"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SeguroHogar_Service">
		<wsdl:port name="SeguroHogar_portType" binding="tns:SeguroHogar_binding">
			<soap:address location="localhost:7101/SeguroHogar"/>
		</wsdl:port>
	</wsdl:service>
	<!-- Mensajes para consulta cliente -->
	<!-- Mensajes para consulta de cartera de cliente -->
</wsdl:definitions>
